<md-content layout layout-align="center">
    <md-card flex="60">
        <div class="md-card-image profile-image">
            <span>{{vm.user.initials}}</span>
        </div>
        <img ng-if="vm.user.image" ng-src="{{vm.user.image}}" class="md-card-image" alt="Profile">
        <md-card-content>
            <div layout="row">
                <div flex="50">
                    <md-input-container class="md-icon-float md-block">
                        <label>Display Name</label>
                        <input ng-model="vm.user.displayName" type="text">
                    </md-input-container>
                </div>
                <div flex="50">
                    <md-input-container class="md-icon-float md-block">
                        <label>Department</label>
                        <input ng-model="vm.user.department" type="text">
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="50">
                    <md-input-container class="md-icon-float md-block">
                        <label>First Name</label>
                        <input ng-model="vm.user.firstname" type="text">
                    </md-input-container>
                </div>
                <div flex="50">
                    <md-input-container class="md-icon-float md-block">
                        <label>Last Name</label>
                        <input ng-model="vm.user.lastname" type="text">
                    </md-input-container>
                </div>
            </div>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="vm.save(vm.user)">Save</md-button>
            <md-button>Cancel</md-button>
        </md-card-actions>
    </md-card>
</md-content>