<div layout="row" class="login-page" layout-align="center center" style="background:#3F51B5;" >
  <div layout="column">
    <form novalidate="" name="loginForm">
      <md-card style="padding: 3rem;" >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" style="font-size: 1.5rem;
    padding: 1rem;
    color: #7D7575;
    font-family: Montserrat;
    font-weight: bold;">Login</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
          <md-input-container>
            <label>Email</label>
            <input name="email" required="" ng-model="vm.user.email" type="email">
            <div ng-messages="loginForm.email.$error">
              <div ng-message="required">Email is required.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <!--add min length-->
            <input name="password"  required="" ng-model="vm.user.password" type="password">
            <div ng-messages="loginForm.password.$error">
              <div ng-message="required">Password is required.</div>
              <div ng-message="minlength">should be greater than 6 characters.</div>
            </div>
          </md-input-container>
          <md-card-actions layout="row">
            <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="vm.login(vm.user)">Login</md-button>
            <md-button class="md-raised md-primary">Register</md-button>
          </md-card-actions>
          <p class="text-danger" ng-bind="vm.errMsg"></p>
          <md-divider></md-divider>
          <p >or you can sign in using</p>
          <md-card-actions layout="row">
            <md-button class="md-hue-1" ng-click="vm.loginViaGoogle()"><md-icon md-font-icon="fa fa-google"> Gmail</md-icon></md-button>
            <md-button class="md-primary"><md-icon md-font-icon="fa fa-slack"> Slack</md-icon></md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </form>
  </div>
</div>
