<div layout="row" class="form-page" layout-align="center center" >
  <div layout="column">
    <form novalidate="" name="registerForm">
      <md-card class="register-form" >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline form-header">Register</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
        <md-input-container>
          <label>Click To Upload Image</label>
          </div>
        </md-input-container>
          <md-input-container>
            <label>Enter Your Email Id</label>
            <input name="email" required="" ng-model="vm.user.email" type="email">
            <div ng-messages="registerForm.email.$error">
              <div ng-message="required">Email is required.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Enter A New Password</label>
            <!--add min length-->
            <input name="password"  required="" ng-model="vm.user.password" type="password">
            <div ng-messages="registerForm.password.$error">
              <div ng-message="required">Password is required.</div>
              <div ng-message="minlength">should be greater than 6 characters.</div>
            </div>
          </md-input-container>
          <md-card-actions layout="row">
           <md-button class="md-raised md-primary" ng-disabled="registerForm.$invalid" ng-click="vm.register(vm.user)">Register</md-button>
          </md-card-actions>
          <p class="text-danger" ng-bind="vm.errMsg"></p>
          <md-divider></md-divider>
          <p >or you can sign in using</p>
        </md-card-content>
      </md-card>
    </form>
  </div>
</div>
