.login-page {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background:url('../res/img/bg.png');
  .login-form {
    padding: 3rem;
    .login-header{
      font-size: 1.5rem;
      padding: 1rem;
      color: #7D7575;
      font-family: Montserrat;
      font-weight: bold;
    }
  }
}

.text-danger {
  color: $danger-color;
  font-size: 12px;
  line-height: 14px;
}
