.profile-image {
  position: relative;
  background: rgb(255, 64, 129);
  width: 150px;
  color: white;
  font-weight: bold;
  height: 150px;
  font-size: 40px;
  border: 1px solid #ccc;
  margin: auto;
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}