.profile-view-area {
  box-shadow: 1px 1px 1px 1px #ddd;
  padding-bottom: 2rem;
  background: rgb(249, 249, 249);
  border-bottom: 1rem solid #ddd;
  margin-top: 2rem;
}
.profile-image-area {
  width: 200px;
  height: 200px;
}
.profile-name-text {
  font-size: 1.5rem;
  color: #7D7575;
  font-family: Montserrat;
  font-weight: bold;
  padding: .4rem;
}
.profile-secondary-text {
  padding: .4rem;
  font-family: Montserrat;
}
.profile-content-area {
  height: 91vh;
}
